{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="modal fade" id="modal-update-cashout">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Cashout</h4>
                </div>
                <form method="POST" id="form-update-cashout">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ admin_cashout_form }}
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" name="submit" value="Update Cashout">
                        <button class="btn btn-primary" id="close1" type="button" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div> 
        </div>
    </div>

    <div class="modal fade" id="modal-update-uang-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Uang User</h4>
                </div>
                <form method="POST" id="form-update-uang-user">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ admin_uang_user_form }}
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" name="submit" value="Update Uang User">
                        <button class="btn btn-primary" id="close2" type="button" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div> 
        </div>
    </div>

    <button class="btn btn-dark" id="cashout" type="button">Generate Penarikan</button>
    <button class="btn btn-dark" id="uang_user" type="button">Generate Uang User</button>

    <table class="table table-striped" id="table">

    </table>

    <script src="{% static 'js/admin.js' %}"></script>

{% endblock content %}