<!-- Carousel wrapper -->
<div
  id="mainCarousel"
  class="carousel carousel-light slide"
  data-bs-ride="carousel"
>
  
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner shadow-4-strong">
    <div class="carousel-item active" data-bs-interval="5000">
      <img
        src="https://i.pinimg.com/564x/77/1d/79/771d7912270e438753367c2b9384027c.jpg"
        class="d-block w-100"
        height="550"
        alt="Slide1"
      />
      <div class="carousel-caption">
        <div class="card">
          <h2>🍃 E-WASTE 🍃</h2>
          <h2>TIPS AND TRICKS</h2>
        </div>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="https://img.freepik.com/free-vector/topographic-pattern-design-with-shadows_1017-14333.jpg?w=1380&t=st=1666967126~exp=1666967726~hmac=4f231501382a4d3c933b3bf5f504aabe81df62da2b953ad9af422d6e36c5947c"
        class="d-block w-100"
        height="550"
        alt="Slide2"
      />
      <div class="carousel-caption">
        <div class="card">
          <h3 class="text-black">Tips for Managing e-Waste</h3><br>
          <p class="text-black">1. Buy Less</p>
          <p class="text-black">2. Organize what you have.</p>
          <p class="text-black">3. Give away or donate your e-waste.</p>
          <p class="text-black">4. Sell</p>
        </div>
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="https://i.pinimg.com/originals/09/6e/1c/096e1ce5befe28b764f5585d6dfc3a07.jpg"
        class="d-block w-100"
        height="550"
        alt="Slide3"
      />
      <div class="carousel-caption">
        <div class="card">
          <h3 class="text-black">How to Reduce e-Waste ?</h3><br>
          <p class="text-black">💫 Be a good consumer. Do some research when you’re ready to buy a new product. </p>
          <p class="text-black">💫 Consider limiting the number of electronics you own.</p>
          <p class="text-black">💫 Reuse as often as possible.</p>
          <p class="text-black">💫 Teach kids about e-waste.</p>
          <p class="text-black">💫 Recycle, recycle, and recyle</p>
        </div>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- End Carousel -->

<style>
  .card p{
    font-size: 20px;
    font-weight: 800px
  }
  .card h3{
    font-size: 30px;
    font-weight: bold;
  }
  .card h2{
    font-size: 50px;
  }
  
</style>