.views-content {
    color: #606271;
  }
  
.views {
  font-size: 12px;
}

.carousel-caption .card {
  background: rgba(255, 255, 255, 0.123);
  overflow: hidden;
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* style list card article */
#article-list{
  margin:20px;
}

#calendar h5{
  font-size: 15px; 
  font-weight: bold; 
  margin-right: 10px; 
  margin-top: 7px;
  color: rgb(210, 4, 4);
}

#calendar i{
  color: rgb(70, 67, 67);
  padding-right: 5px;
}

#calendar h4{
  font-size: 17px; 
  font-weight: bolder; 
  margin-right: 8px; 
  margin-top: 7px;
  color: black;
}

#source h5{
  font-size: 15px; 
  font-weight: bold; 
  margin-right: 10px; 
  margin-top: 7px;
  color: rgb(10, 99, 50);
}

#source i{
  color: rgb(70, 67, 67);
  padding-right: 5px;
}

/* style hover list card article */
#article-list:hover {
  overflow: hidden;
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#published-date{
  font-size: 40px;
  font-color: black
}

#add-list {
  background: black;
}

/* Style New Article Button */
#add-button{
  border-radius: 40px
  width: 220px; 
  height: 45px; 
  font-weight: bold; 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px
}

#add-button:hover {
  overflow: hidden;
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#loadMoreBtn{
  border-radius: 40px
  width: 220px; 
  height: 50px; 
  font-weight: bold; 
  font-size: 18px; 
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px
}

#loadMoreBtn:hover {
  overflow: hidden;
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#searchBtn{
  height: 50px;
  width: 50px;
  border-radius: 10px; 
}

#user-input{
  width: 300px; 
  height: 50px; 
  border-radius: 10px; 
  margin-top: 9px
}

#title h3{
  font-weight: bolder;
  color: black;
  font-size: 36px;
  justify-content: center
}

/* Style tanggal */
#calendar h5{
  font-size: 17px; 
  font-weight: bold; 
  margin-right: 10px; 
  margin-top: 7px;
  color: rgb(10, 99, 50);
}

/* Style icon calendar */
#calendar i{
  color: rgb(45, 43, 43);
  padding-right: 5px;
}

/* Style "|" */
#calendar h4{
  font-size: 18px; 
  font-weight: bolder; 
  margin-right: 8px; 
  margin-top: 7px;
  color: black;
}

/* Style source */
#source h5{
  font-size: 17px; 
  font-weight: bold; 
  margin-right: 10px; 
  margin-top: 7px;
  color: rgb(10, 99, 50);
}

/* Style icon source */
#source i{
  color: rgb(45, 43, 43);
  padding-right: 5px;
}

#button-readmore{
  font-weight: bolder;
  margin-bottom: 10px
}