#latest-three-feedback{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


@media (max-width: 600px) {
    #latest-three-feedback {
      display: flex;
      flex-direction: column;

    }
}