{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="about-us" class="container my-5" >
    <div class="card row flex-row-reverse" style="padding:10px;">
        <img class="col-lg-4 card-img-end img-fluid p-0" style="height:325px; width:325px;margin-top:auto;margin-bottom:auto;margin-right:auto;margin-left:auto;" src="https://cdn-icons-png.flaticon.com/512/1039/1039783.png" />
        <div class="col-lg-8 card-body">
            <h1 class="card-title">About Us!</h1>
            <p align="justify" class="card-text">Sampah elektronik (e-waste) merupakan salah satu efek samping dari Transformasi Digital yang terjadi pada masa kini. Menurut data dari Global E-Waste Monitor, terdapat 53 juta ton sampah elektronik yang dihasilkan oleh seluruh negara di dunia pada tahun 2020. Estimasi yang dilakukan oleh badan yang sama juga menyajikan kesimpulan bahwa laju pertumbuhan sampah elektronik akan terus berkembang, bahkan dalam waktu sekitar 8 tahun, yaitu pada tahun 2030, diperkirakan bahwa akan ada 120 juta ton sampah elektronik yang dihasilkan oleh manusia! Jika situasi ini terus berlanjut, dampaknya akan sangat besar, baik bagi manusia, flora, dan fauna.
            <br>Gaya hidup yang serba digital seperti saat ini, membuat kita sangat bergantung dengan berbagai barang elektronik. Kita menjadi sering membeli gadget versi terbaru agar lebih up to date. Namun, hal ini juga membuat kita seringkali membuang gadget yang masih layak pakai. Hal ini tentu sangat tidak baik bagi lingkungan. Oleh karena itu, kami membuat aplikasi yang bernama E-Waste Bank. Aplikasi ini bertujuan untuk memudahkan masyarakat untuk mengumpulkan dan mengelola barang elektronik yang sudah tidak layak pakai.
            <br> Aplikasi ini dapat digunakan oleh masyarakat untuk mendapatkan uang melalui menjual barang elektronik yang sudah tidak layak pakai. Aplikasi ini juga dapat melakukan penjemputan barang elektronik bekas ke lokasi yang ditentukan oleh pengguna. selain itu, pengguna juga mendapatkan edukasi melalui aplikasi ini dengan diadakannya jenis-jenis E-Waste yang ada dan cara mengelola E-Waste yang benar.</br></p>
        </div>
    </div>
</div>
  
  
<div id="feedbacks" style="margin:50px;">
    <h1>What they say about us</h1>
    <!-- 3 cards latest feedback -->
    <div id="latest-three-feedback">
    </div>
    <!-- end of cards -->
    <table style="margin-top:20px ;">
        <tr>
            <td><h5>Tell us yours!</h5></td>
            <!-- Button trigger modal -->
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Feedback</button></td>
        </tr>
    </table>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Form Feedback</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <!-- Isi Form -->
                <form id="form_add" method="POST" action="add-feedback/">
                  {% csrf_token %}
                  <div class="modal-body">
                    {{feedback_form.as_p}}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
                  </div>
                </form>
          </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/add_feedback.js' %}"></script>
  {% endblock content %}