{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="about-us" style="padding: 50px;">
    <div class="card row flex-row-reverse" style="padding: 10px;background-color: #F8F7F3;border-color: #F8F7F3;">
        <img class="col-lg-6 card-img-end img-fluid p-0" style="height:225px; width:225px;margin-top:auto;margin-bottom:auto;margin-right:auto;margin-left:auto;" src="https://cdn-icons-png.flaticon.com/512/1039/1039783.png"/>
        <div class="col-lg-4 card-body">
            <h1 class="card-title">Get To Know Us!</h1>
            <p align="justify" class="card-text">Kami hadir untuk memudahkan masyarakat untuk mengumpulkan dan mengelola barang elektronik yang sudah tidak 
                layak pakai. Melalui aplikasi ini, masyarakat dapat mendapatkan uang melalui menjual barang elektronik yang sudah tidak layak pakai,
                yang nantinya akan dijemput oleh kami. Selain itu, kami memberikan informasi tips dan tricks mengenai pengelolaan E Waste.</p>
        </div>
    </div>
</div>

  
  
<div id="feedbacks" style="padding: 50px;background-color: rgb(22, 98, 149);">
    <h1 style="color: #F8F7F3;text-align: center;">What People Say About Us</h1>
    <!-- 3 cards latest feedback -->
    <div id="latest-three-feedback">
    </div>
    <!-- end of cards -->
    <table style="margin-top:20px;width: 250px;">
        <tr>
            <td><h4 style="color:#F8F7F3;">Tell us yours!</h4></td>
            <!-- Button trigger modal -->
            <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:#7fbcd8 ;">Click Here</button></td>
        </tr>
    </table>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Form Feedback</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <!-- Isi Form -->
                <form id="form_add" method="POST" action="add-feedback/">
                  {% csrf_token %}
                  <div class="modal-body">
                    {{feedback_form.as_p}}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
          </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/add_feedback.js' %}"></script>
  {% endblock content %}